---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="home-title">Latest Posts</div>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
