<div class="postlist">
{% for post in postslist | reverse %}
  <a href="{{ post.url }}"
    title="{{ post.data.description }}"
    class="postitem{% if post.url == url %} postitem--active{% endif %}"
    style="background-image: url({{ post.data.image }})">
    <h1 class="postitem__title">{{ post.data.title }}</h1>
    <time class="postitem__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {#
    {% for tag in post.data.tags %}
      {%- if tag != "posts" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    #}
  </a>
{% endfor %}
</div>
